<html>
  <head>
    <meta charset="utf-8" />
    <title>Đăng ký tài khoản thành công</title>
  </head>
  <body>
    <!-- <%= payload.fullName %> -->
    <p>Xin chào <b>Pham Dung</b>,</p>

    <p>
      Chúc mừng bạn đã <b>đăng ký tài khoản thành công</b> tại shop của chúng
      tôi.
    </p>

    <table
      border="1"
      cellspacing="0"
      cellpadding="10"
      bordercolor="#305eb3"
      width="100%"
    >
      <tr bgcolor="#305eb3">
        <td>
          <b><font color="#FFFFFF">Thông tin tài khoản</font></b>
        </td>
      </tr>
      <tr>
        <!-- <%= payload.fullName %>
        <%= payload.email %>
        <%= payload.createdAt %> -->
        <td>
          <b>Họ tên:</b> Pham Dung<br />
          <b>Email:</b> khoaimonatk1@gmail.com<br />
          <b>Ngày đăng ký:</b> 23/12/2025<br />
        </td>
      </tr>
    </table>

    <p>Bạn có thể đăng nhập ngay để sử dụng các tính năng như:</p>
    <ul>
      <li>Đặt hàng nhanh chóng</li>
      <li>Theo dõi trạng thái đơn hàng</li>
      <li>Quản lý thông tin cá nhân</li>
    </ul>

    <p>
      Nếu bạn không thực hiện việc đăng ký này, vui lòng bỏ qua email hoặc liên
      hệ bộ phận hỗ trợ.
    </p>

    <p>
      Trân trọng,<br />
      <b>Đội ngũ hỗ trợ Shop</b>
    </p>
  </body>
</html>
