<html>
  <head>
    <meta charset="utf-8" />
    <title>Đặt lại mật khẩu</title>
  </head>
  <body>
    <p>Xin chào <b>Pham Dung</b>,</p>

    <p>
      Chúng tôi nhận được yêu cầu <b>đặt lại mật khẩu</b> cho tài khoản của bạn.
    </p>

    <table
      border="1"
      cellspacing="0"
      cellpadding="10"
      bordercolor="#305eb3"
      width="100%"
    >
      <tr bgcolor="#305eb3">
        <td>
          <b><font color="#FFFFFF">Thông tin yêu cầu</font></b>
        </td>
      </tr>
      <tr>
        <td>
          <b>Email:</b> khoaimonatk1@gmail.com<br />
          <b>Thời gian yêu cầu:</b> 23/12/2025
        </td>
      </tr>
    </table>

    <p>
      Nếu bạn không yêu cầu đổi mật khẩu, vui lòng bỏ qua email này để đảm bảo
      an toàn.
    </p>

    <p>
      Trân trọng,<br />
      <b>Đội ngũ hỗ trợ Shop</b>
    </p>
  </body>
</html>
